.comments{
    background: rgb(197, 212, 218);
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 1px double rgb(250, 242, 242);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.comments h6{
    font-weight: bold;
    text-decoration: underline;
}