// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  
  
  .green-alt {
    background-color: #79833e;
  }
  .red-alt {
    background-color: #834e3e;
  }
  
  .signup-btn{
    background: #5f663a;
    padding: 6px;
    margin:2px;
    width:80px;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.login-btn{
  background: #cab91d;
    padding: 6px;
    margin:2px;
    float: left;
    width:80px;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}